<?xml version="1.0" encoding="UTF-8"?>
<!--
参见： https://logging.apache.org/log4j/2.x/manual/appenders.html
-->
<Configuration status="INFO" monitorInterval="1" packages="com.gewuwo.logging.appender">
    <Appenders>
        <LogTracker name="logTracker" project="tracker" projectId="tracker" enabled="true" sendUrl="https://open.feishu.cn/open-apis/bot/v2/hook/a95b8abe-7168-4d82-a7a7-68bd0b8b651d">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%-5p] {%F:%L} - %m%n"/>
        </LogTracker>
    </Appenders>

    <Loggers>
        <!-- 设置 Appender ，同时 ROOT 的日志级别为 INFO -->
        <Root level="INFO">
            <AppenderRef ref="logTracker" level="ERROR"/>
        </Root>
    </Loggers>
</Configuration>
